#conteo-votos-contenedor {
  height: 600px;
  width: 200%;
  margin-bottom: 1em;
}

#conteo-votos {
  position: absolute;
  left: calc((1000px - 100vw)/2 + calc((100vw - 1210px)/2));
}

@media all and (max-width: 1210px) {
  #conteo-votos {
    left: calc((1000px - 100vw)/2);
  }
}

@media all and (max-width: 1000px) {
  #conteo-votos {
    left: 0;
  }
}
