body {
  min-width: 1000px !important;
}

#formato {
  border: #000000 1px solid;
  padding: 50px;
  width: 50rem;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  /* word-spacing: 0.12rem; */
  /* letter-spacing: 0.01rem; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  flex: 1 0 auto;
}

#formato sup {
  vertical-align: top;
  font-size: 0.6rem;
}

#formato input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  font-weight: bold;
  color: rgb(var(--pcolor));
}

#formato textarea {
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  font-weight: bold;
  color: rgb(var(--pcolor));
  resize: none;
  line-height: 2.5ch;
  background-image: linear-gradient(transparent, transparent calc(2.5ch - 2px), #888888 0px);
  background-size: 100% 2.5ch;
  overflow: hidden;
}

#logo > img {
  width: 250px;
}

#asunto {
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  font-size: 0.9rem;
}

#cabecera {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

#creds {
  margin-bottom: 10px;
  font-size: 0.9rem;
  word-spacing: 0.245rem;
  letter-spacing: 0.02rem;
}

#creds strong {
  font-family: 'Roboto', sans-serif;
}

#hechos {
  margin-bottom: 10px;
  padding: 10px;
}

#hechos-cabecera {
  text-align: center;
}
#hechos-cabecera > strong {
  font-size: 0.9rem;
}
#hechos-cabecera > em {
  font-size: 0.8rem;
}

#hechos-redaccion {
  margin-top: 20px;
}
#hechos-redaccion > textarea {
  resize: none;
  min-width: 100%;
}

#atentamente {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

#firmas {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  margin-bottom: 60px;
}

.firma {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 60px;
}

#footnote {
  border-top: #000000 1px solid;
  padding-top: 5px;
  margin-top: 50px;
  width: 250px;
  font-weight: bold;
  font-size: 0.6rem;
}

#footnote sup {
  vertical-align: top;
  font-size: 0.5rem;
}

#credsinputa {
  width: 35rem;
}

#credsinputb {
  width: 25rem;
}

#credsinputc {
  width: 18rem;
}

@media all and (min-width:768px) {
  #credsinputa {
    width: 36rem;
  }

  #credsinputb {
    width: 29rem;
  }

  #credsinputc {
    width: 18rem;
  }
}
