.inputs {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type=text] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 2px solid rgb(var(--pcolor));
  border-radius: 5%;
  text-align: center;
  width: 6rem;
  background: rgba(0, 0, 0, 0.05);
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 120%;
}

input[type=submit] {
  margin: 10px 0;
  font-weight: 700;
}

#error {
  display: none;
  position: relative;
  background: rgb(var(--pcolor-ll));
  border: 2px solid rgb(var(--pcolor-l));
  padding: 2rem;
  margin: 10px 0;
  text-align: center;
  color: rgb(var(--pcolor-dd));
}

#error > img {
  position: absolute;
  top: -0.9rem;
  left: -1.2rem;
  width: 3rem;
}

#resultado {
  display: none;
  flex: 0 0 auto;
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
}

#secmap {
  height: 25rem;
  width: 25rem;
  margin-bottom: 1rem;
}

@media all and (min-width:768px) { #secmap { height: 30rem; width: 30rem; } }
@media all and (min-width:1366px) { #secmap { height: 35rem; width: 35rem; } }

.renglones {
  padding-bottom: 1rem;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

@media all and (min-width:768px) { .renglones { width: 70%; } }
@media all and (min-width:1366px) { .renglones { width: 70%; } }

.renglon {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.etiqueta {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 80%;
  border-bottom: 2px solid rgb(var(--scolor-d));
}

.distrito {
  font-family: 'Roboto Slab', serif;
  font-size: 160%;
  font-weight: 900;
  color: rgb(var(--scolor-dd));
  border: none;
}
