@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(/fonts/Roboto/Roboto-ThinItalic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(/fonts/Roboto/Roboto-LightItalic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/fonts/Roboto/Roboto-Italic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(/fonts/Roboto/Roboto-MediumItalic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-MediumItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(/fonts/Roboto/Roboto-BoldItalic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(/fonts/Roboto/Roboto-BlackItalic.woff2) format('woff2'), url(/fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/fonts/Roboto/Roboto-Thin.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto/Roboto-Light.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(/fonts/Roboto/Roboto-Regular.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/Roboto/Roboto-Medium.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto/Roboto-Bold.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(/fonts/Roboto/Roboto-Black.woff2) format('woff2'), url(/fonts/Roboto/Roboto-Black.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed/RobotoCondensed-Italic.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed/RobotoCondensed-Light.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2) format('woff2'), url(/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Thin.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-ExtraLight.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Light.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Regular.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Medium.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Medium.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-SemiBold.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-SemiBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Bold.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-ExtraBold.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/RobotoSlab/RobotoSlab-Black.woff2) format('woff2'), url(/fonts/RobotoSlab/RobotoSlab-Black.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* RESET */

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */

:root {
  --black: 0, 0, 0;           /* #000000 */
  --white: 255, 255, 255;     /* #ffffff */

  --pcolor-ll: 241, 186, 174; /* #f1baae */
  --pcolor-l: 216, 117, 99;   /* #d87563 */
  --pcolor: 181, 38, 30;      /* #b5261e */
  --pcolor-d: 119, 32, 23;    /* #772017 */
  --pcolor-dd: 61, 22, 15;    /* #3d160f */

  --scolor-ll: 203, 210, 213; /* #cbd2d5 */
  --scolor-l: 154, 167, 172;  /* #9aa7ac */
  --scolor: 106, 126, 133;    /* #6a7e85 */
  --scolor-d: 70, 83, 87;     /* #465357 */
  --scolor-dd: 38, 43, 45;    /* #262b2d */

  --acolor1-ll: 255, 191, 215; /* #ffbfd7 */
  --acolor1-l: 251, 123, 177;  /* #fb7bb1 */
  --acolor1: 237, 0, 140;      /* #ed008c */
  --acolor1-d: 152, 27, 91;    /* #981b5b */
  --acolor1-dd: 75, 23, 47;    /* #4b172f */

  --acolor2-ll: 190, 209, 232; /* #bed1e8 */
  --acolor2-l: 121, 165, 209;  /* #79a5d1 */
  --acolor2: 0, 124, 186;      /* #007cba */
  --acolor2-d: 26, 81, 120;    /* #1a5178 */
  --acolor2-dd: 23, 43, 60;    /* #172b3c */
}

/* DOCUMENT STYLE */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media all and (min-width:768px) { html { font-size: 19px; } }
@media all and (min-width:1366px) { html { font-size: 22px; } }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgb(var(--white));
  color: rgb(var(--black));
  text-align: center;
}

.main > * {
  margin-top: 2.5rem;
}

.main > *:first-child {
  margin-top: 0;
}

.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: rgb(var(--white));
  color: rgb(var(--scolor-dd));
}

.header > * {
  margin-top: 1.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.header > *:first-child {
  margin-top: 2rem;
}

@media all and (min-width:768px) {
  .header > * {
    margin-top: 2rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .header > *:first-child {
    margin-top: 3.5rem;
  }
}

.logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo > img {
  max-height: 2rem;
}

.logo > span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

.logo .hl {
  color: rgb(var(--pcolor));
  font-weight: bold;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.about > p {
  margin: 0 auto 0 auto;
  max-width: 20rem;
  font-size: 1.25rem;
}

@media all and (min-width:768px) {
  .about > p {
    max-width: 25rem;
  }
}

.about span {
  color: rgb(var(--pcolor));
  font-weight: bold;
}

.nav {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav > * {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15rem;
  height: 4rem;
  margin-top: 1rem;
  border: 2px solid rgb(var(--scolor-dd));
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(var(--scolor, 0.15));
}

.sections .nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: unset;
  margin-left: auto;
  margin-right: auto;
}

.sections .nav > * {
  margin-top: 0;
  margin-bottom: 2rem;
}

.navitem-p {
  background: rgb(var(--pcolor));
  color: rgb(var(--white));
}

.navitem-p:hover {
  background: rgb(var(--acolor1-d));
}

.navitem-p:focus {
  background: rgb(var(--acolor1-d));
}

.navitem-s {
  background: rgb(var(--scolor-d));
  color: rgb(var(--white));
}

.navitem-s:hover {
  background: rgb(var(--acolor2-d));
}

.navitem-s:focus {
  background: rgb(var(--acolor2-d));
}

.nav > *:first-child {
  margin-top: 0;
}

.nav > *:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(var(--scolor, 0.3));
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.nav > *:hover:after {
  opacity: 1;
}

.nav > * > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  filter: invert(1);
  opacity: 0.25;
}

.nav > * > span {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.sections .nav > * > span {
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
}

.nav > * > i {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: solid rgba(var(--black), 0.4);
  border-width: 0 0.25rem 0.25rem 0;
  padding: 0.25rem;
  transform: rotate(45deg);
}

@media all and (min-width:768px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sections .nav {
    width: 90%;
    justify-content: center;
  }

  .nav > * {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 9rem;
    height: 9rem;
  }

  .nav > * > img {
    position: relative;
    width: 5rem;
    height: 5rem;
    opacity: 0.75;
    margin-bottom: 0.25rem;
  }
}

@media all and (min-width:1366px) {
  .nav {
    width: 50rem;
  }

  .sections .nav {
    width: 1300px;
    justify-content: center;
  }
  
  .nav > * {
    margin: 0;
    width: 9.5rem;
    height: 9.5rem;
  }

  .sections .nav > * {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav > * > img {
    width: 6rem;
    height: 6rem;
  }
}

.sections {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.sections > * {
  margin-top: 2rem;
}

.sections > * > h1 {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: rgb(var(--scolor-dd));
  color: rgb(var(--white));
  padding: 2rem 1rem 7.5rem 1rem;
  font-size: 0.75rem;
  width: 100%;
}

.footer > * {
  margin-top: 2rem;
}

.footer > *:first-child {
  margin-top: 0;
}

.footer a {
  text-decoration: underline;
  color: inherit;
}

.footer > .info > * {
  margin-top: 0.5rem;
}

.footer > .info > *:first-child {
  margin-top: 0;
}

.footer > .info > h1 {
  line-height: 1.5rem;
}

.footer > .info > h2 {
  line-height: 1rem;
  font-size: 0.9rem;
}

.footer > .license > .badges {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.footer > .license > .badges > img {
  height: 2rem;
  margin: 0 0.25rem;
}

.footer > .code {

}

.footer > .code img {
  vertical-align: top;
  height: 1rem;
}

.drawers > * {
  margin-top: 1rem;
}

.drawers > *:first-child {
  margin-top: 0;
}

.drawers > .drawer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(var(--scolor-dd));
  border-radius: 2px;
}

@media all and (min-width:768px) {
  .drawers > .drawer {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width:1366px) {
  .drawers > .drawer {
    width: 50rem;
  }
}

.drawers > .drawer h1 {
  font-size: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.drawers > .drawer h2 {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.drawers > .drawer > .label > img {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 3.75rem;
  height: 3.75rem;
  filter: invert(1);
  opacity: 0.25;
}

.drawers > .drawer > input.toggle[type='checkbox'] {
  display: none;
}

.drawers > .drawer > .label {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  display: block;
  padding: 1rem;
  cursor: pointer;
  background: rgb(var(--pcolor));
  color: rgb(var(--white));
}

.drawers > .drawer.dark > .label {
  background: rgb(var(--scolor-d));
}

.drawers > .drawer > .label:hover {
  background: rgb(var(--acolor1-d));
}

.drawers > .drawer.dark > .label:hover {
  background: rgb(var(--acolor2-d));
}

.drawers > .drawer > .label:focus {
  background: rgb(var(--acolor1-d));
}

.drawers > .drawer.dark > .label:focus {
  background: rgb(var(--acolor2-d));
}

.drawers > .drawer > .label::after {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  content: '+';
  color: rgba(var(--black), 0.4);
  font-weight: bold;
  display: inline-block;
  transition: transform .05s ease-out;
  margin-left: 0.75rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

.toggle:checked + .label::after {
  transform: rotate(45deg);
}

.drawers > .drawer > .content {
  max-height: 0px;
  overflow: hidden;
  border: 4px solid rgb(var(--pcolor-d));
  border-top: none;
  transition: max-height .5s ease-in-out;
  overflow-y: scroll;
}

.drawers > .drawer.dark > .content {
  border: 4px solid rgb(var(--scolor-dd));
}

.toggle:checked + .label + .content {
  max-height: 100vh;
}

.drawers > .drawer > .content > .inner {
  padding: 0.5rem 1rem;
}

.doclist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
}

@media all and (min-width:768px) {
  .doclist { width: 25rem; }
}

.doclist > * {
  margin-top: 0.5rem;
}

.doclist > *:first-child {
  margin-top: 0;
}

.doclist > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
  color: rgb(var(--pcolor-d));
}

.doclist > a:hover {
  color: rgb(var(--acolor-d));
}

.doclist > a:focus {
  color: rgb(var(--acolor1-d));
}

.doclist > .doclist {
  margin-left: 2rem;
}

.docimg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

.hide {
  opacity: 0;
}

.toptitle {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  background: rgb(var(--pcolor));
  color: rgb(var(--white));
  border-bottom: 0.4rem solid rgb(var(--pcolor-d));
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 0.7rem;
  padding: 0.25rem;
  justify-content: space-between;
}

.toptitle.dark {
  background: rgb(var(--scolor-d));
  border-bottom: 0.4rem solid rgb(var(--scolor-dd));
}

.toptitle > a > img {
  height: 2.5rem;
}

.toptitle > h1 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(var(--pcolor));
  color: rgb(var(--white));
  text-decoration: none;
  border: 2px solid rgb(var(--scolor-dd));
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(var(--scolor, 0.15));
  padding: 0.5rem 1rem;
}

.button.dark {
  background: rgb(var(--scolor-d));
  
}

.button:hover {
  background: rgb(var(--acolor1-d));
}

.button.dark:hover {
  background: rgb(var(--acolor2-d));
}

.button:focus {
  background: rgb(var(--acolor1-d));
}

.button.dark:focus {
  background: rgb(var(--acolor2-d));
}

.select-group {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.select {
  appearance: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 2px solid rgb(var(--pcolor));
  border-radius: 5%;
  text-align: left;
  min-width: 20rem;
  background: rgba(0, 0, 0, 0.05);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right .75em top 50%;
  background-size: .65em auto;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 100%;
}

.select-group .button {
  margin: 10px 0;
  font-weight: 700;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

@media all and (min-width:1366px) {
  .video {
    padding-bottom: 0;
    width: 560px;
    height: 315px;
    overflow: unset;
    margin-left: auto;
    margin-right: auto;
  }
}

.video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media all and (min-width:1366px) {
  .video > iframe {
    width: 560px;
    height: 315px;
  }
}

.img-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.img-group .a {
  height: auto;
  width: 50%;
  max-width: 554px;
}

.img-group .b {
  height: auto;
  width: 100%;
  max-width: 1481px;
}

@media all and (min-width:768px) {
  .img-group .b {
    height: auto;
    width: 75%;
  }
}

#banner {
  font-size: 1.1rem;
  border: 5px solid rgb(var(--pcolor));
  padding: 1rem .5rem;
  box-shadow: 0 0 0 rgba(var(--pcolor), 0.6);
  /* animation: pulse 1s infinite; */
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--pcolor), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--pcolor), 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(var(--pcolor), 0);
      box-shadow: 0 0 0 1rem rgba(var(--pcolor), 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--pcolor), 0);
      box-shadow: 0 0 0 0 rgba(var(--pcolor), 0);
  }
}

#banner > a {
  color: rgb(var(--pcolor));
  font-weight: bold;
  /* animation: pumpum 1s infinite; */
}

@keyframes pumpum {
  0% {
    color: rgb(var(--scolor-dd));
  }
  70% {
    color: rgb(var(--pcolor));
  }
  100% {
    color: rgb(var(--pcolor));
  }
}

#banner .cta {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: bold;
}

#countdown {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

#countdown span {
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(var(--pcolor));
}

#infpol {
    background: #000a;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.infpbtn {
    all: unset;
    color: black;
    transform: rotate(45deg);
    font-size: 3rem;
    cursor: pointer;

    align-self: end;
}

#infpmsg {
    background: white;
    max-width: 90%;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 10px black;

    min-width: 300px;
}

@media all and (min-width:768px) {
    #infpmsg {
        width: 700px;
    }
}

#infpmsg p {
    text-align: justify;
    hyphens: auto;
    padding: .5rem 0 .5rem 0rem;
}

.warning {
    max-width: 700px;
    padding: 1rem;
    background: yellow;
    border: solid 2px goldenrod;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
