<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" href="/electoral/index.css">
    {% for path in css_includes %}
    <link rel="stylesheet" href="{{ path }}">
    {% endfor %}
    <script type="text/javascript" src="/electoral/index.js"></script>
    {% for path in js_includes %}
    <script type="text/javascript" src="{{ path }}"></script>
    {% endfor %}
    <link rel="shortcut icon" href="/electoral/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/electoral/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <section>
      <header>
        <hgroup>
          {% if title %}
          <h1>{{ title }}</h1>
          {% endif %}
          {% if subtitle %}
          <h2>{{ subtitle }}</h2>
          {% endif %}
          {% for author in authors %}
          <h3>{{ author }}</h3>
          {% endfor %}
        </hgroup>
      </header>
      {% if section %}
      <main>
        {{ section }}
      </main>
      {% endif %}
      <footer>
      </footer>
    </section>
  </body>
  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</html>
