.topcontrols {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  padding: 0.25rem 1rem 0.25rem 1rem;
  justify-content: space-between;
}

.bottomcontrols {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  padding: 0.25rem 1rem 0.25rem 1rem;
  justify-content: space-between;
}

.monthyear {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: rgb(var(--scolor-dd));
  white-space: nowrap;
}

.calheader {
  display: none;
}

.calcont {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.calendar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.calendar > * {
  margin-bottom: 1rem;
}

.day {
  display: flex;
  flex: 0 0 auto;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fbfbfb;
  border: 1px solid rgb(var(--scolor));
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem;
}

.daylabel {
  display: none;
}

.fulldaylabel {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  padding: 0.25rem;
  background: rgb(var(--scolor-dd));
  color: white;
}

.inmonth {
  color: rgb(var(--scolor-dd));
}

.outmonth {
  color: rgb(var(--scolor-l));
  display: none;
}

.noentry {
  display: none;
}

.today {
  background: #cfd8dc !important;
}

.entry {
  font-family: 'Roboto Sans', sans-serif;
  padding: 0.5rem;
  background: #eceff1;
  color: rgb(var(--scolor-dd));
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.popupentry {
  font-family: 'Roboto Sans', sans-serif;
  padding: 0.5rem;
  background: #eceff1 !important;
  color: rgb(var(--scolor-dd)) !important;
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  text-align: center;
  margin-top: 0.5rem;
}

.popupentry::after {
  content: '' !important;
}

@media all and (min-width:480px) {
  .day {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width:768px) {
  .topcontrols {
    padding: 0.25rem 0 0.25rem 0;
  }

  .bottomcontrols {
    display: none;
  }

  .calheader {
    display: flex;
    flex-direction: row;
    width: 35rem;
    background: rgb(var(--scolor-dd));
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 75%;
  }
  
  /* .calheader {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     background: rgb(var(--scolor-dd));
     color: white;
     text-align: center;
     font-family: 'Roboto Slab', serif;
     font-weight: bold;
     font-size: 75%;
     } */
  
  .calcont {
    width: unset;
  }

  .monthyear {
    transition: color 0.1s;
    color: rgb(var(--scolor-dd));
  }

  .monthyear:hover {
    color: rgb(var(--pcolor));
  }

  .calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: unset;
  }
  
  /* .calendar {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     grid-gap: 0px;
     width: unset;
     padding-left: 0;
     padding-right: 0;
     margin-top: unset;
     } */
  
  .calendar > * {
    margin-bottom: unset;
  }

  .calheader > div {
    width: 5rem;
  }
  
  .day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 5rem;
    height: 5rem;
    border-top: 1px solid rgb(var(--scolor-l));
    border-left: 1px solid rgb(var(--scolor-l));
    border-right: none;
    border-bottom: none;
    padding: 0.25rem;
    padding-top: 1.1rem;
    padding-left: 1.1rem;
    overflow: hidden;
  }

  .day:nth-child(7n) {
    border-right: 1px solid rgb(var(--scolor-l));
  }

  .day:nth-last-child(-n+7) {
    border-bottom: 1px solid rgb(var(--scolor-l));
  }

  .inmonth {
    transition: background 0.1s;
  }

  .inmonth:hover {
    background: #eceff1;
  }

  .inmonth:hover .daylabel {
    background: #eceff1;
  }

  .today .daylabel {
    background: #cfd8dc !important;
  }

  .outmonth {
    /* display: flex; */
    /* flex: 0 0 auto; */
  }

  .noentry {
    display: flex;
    flex: 0 0 auto;
  }

  .daylabel {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 70%;
    font-weight: bold;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background: #fbfbfb;
  }

  .fulldaylabel {
    display: none;
  }

  .entry {
    font-family: 'Roboto Sans', sans-serif;
    font-size: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 0.25rem;
    border: none !important;
    border-radius: 2px;
    text-align: left;
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    text-indent: 200%;
    position: relative;
  }

  .entry::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0%;
    font-size: 150%;
  }

  .ct-D1 { background: #3ECCBB; color: black; }
  .ct-D2 { background: #94C893; color: black; }
  .ct-D3 { background: #BFC67F; color: black; }
  .ct-D4 { background: #E9C46A; color: black; }
  .ct-D5 { background: #F4A261; color: black; }
  .ct-D6 { background: #EB886F; color: black; }
  .ct-D7 { background: #F0A693; color: black; }
  .ct-M  { background: #CC81D9; color: black; }
  .ct-G  { background: rgb(var(--pcolor)); color: white; }

  .ct-D1::after { content: 'D1'; }
  .ct-D2::after { content: 'D2'; }
  .ct-D3::after { content: 'D3'; }
  .ct-D4::after { content: 'D4'; }
  .ct-D5::after { content: 'D5'; }
  .ct-D6::after { content: 'D6'; }
  .ct-D7::after { content: 'D7'; }
  .ct-M::after { content: 'M'; }
  .ct-G::after { content: 'G'; color: white; }

  .outmonth .entry::after { color: white; }

  .inmonth .entry {
    /* background: rgb(var(--pcolor)); */
    /* color: white; */
  }

  .outmonth .entry {
    background: rgb(var(--scolor-d));
    color: white;
  }

  .ct-hide {
    display: none;
  }
}

/* @media all and (min-width:768px) {
   .calheader {
   width: 35rem;
   }
   
   .calheader > div {
   width: 5rem;
   }

   .calendar {
   width: 35rem;
   }
   
   .day {
   width: 5rem;
   height: 5rem;
   }
   } */

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.2rem;
}

.aright {
  transform: rotate(-45deg);
}

.aleft {
  transform: rotate(135deg);
}

.aup {
  transform: rotate(-135deg);
}

.adown {
  transform: rotate(45deg);
}

.circled {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgb(var(--scolor-dd));
  transition: background 0.1s;
}

.circled:hover {
  background: rgb(var(--pcolor));
}

#calpopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 3rem auto;
  padding: 1.5rem;
  background: rgb(var(--white));
  border-radius: 1rem;
  width: 80%;
  position: relative;
  overflow: auto;
  max-height: 80%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1rem;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 0.5rem;
  transition: color 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: rgb(var(--pcolor));
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-bottom: 1rem;
}

@media all and (min-width:768px) {
  .popup{
    margin: 7rem auto;
    width: 30rem;
  }
}

.ct-D1 { border-bottom: 5px solid #3ECCBB; }
.ct-D2 { border-bottom: 5px solid #94C893; }
.ct-D3 { border-bottom: 5px solid #BFC67F; }
.ct-D4 { border-bottom: 5px solid #E9C46A; }
.ct-D5 { border-bottom: 5px solid #F4A261; }
.ct-D6 { border-bottom: 5px solid #EB886F; }
.ct-D7 { border-bottom: 5px solid #F0A693; }
.ct-M  { border-bottom: 5px solid #CC81D9; }
.ct-G  { border-bottom: 5px solid rgb(var(--pcolor)); }

